{% extends "base.html.twig" %}

{% block title %}
	{{ parent() }}
{% endblock %}

{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="/js/json2html.js"></script>
    <script type="text/javascript" src="/js/jquery.json2html.js"></script>
    <script type="text/javascript" src="/js/welcome.js"></script>    
{% endblock %}

{% block content %}

<form class="form-horizontal" id="xml_form">
<fieldset>

<!-- Textarea -->
<div class="form-group">  
<div class="col-md-3">
</div>
  <div class="col-md-6">                     
    <textarea class="form-control" id="xml_textarea" name="xml_textarea" placeholder="Enter XML"></textarea>
  </div>
</div>


<!-- Button -->
<div class="form-group">
  <div class="col-md-3">
  </div>
  <div class="col-md-6 text-center">
    <button id="convert_button" name="convert_button" class="btn btn-success">Convert</button>
  </div>
</div>

</fieldset>
</form>

<div class="row">
	<div class="col-md-3">
  	</div>
	<div id="response_div" class="col-md-4"></div>
</div>

<div class="row">
	<div class="col-md-3">
  	</div>
	<div id="render_div" class="col-md-4"></div>
</div>

{% endblock %}